nav {
  align-items: center;
  background-color: #393e46;
  display: flex;
  justify-content: center;
  min-height: 100px;
  padding: 0 20px;
}

nav .nav-brand {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  padding: 0px 150px;
  margin-left: 120px;
  margin-right: 20px;
}

.toolbox {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.toolbox label {
  color: white;
  display: block;
  text-align: center;
}

.toolbox > div {
  display: flex;
  justify-content: space-between;
}

.toolbox button {
  background-color: #00adb5;
  border-radius: 25px;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin: 0 10px;
  outline: none;
  padding: 13px 10px;
}

.toolbox select,
input[type="range"] {
  cursor: pointer;
  margin: 0 10px;
}

.toolbox input,
select,
button {
  min-width: 130px;
}

.toolbox select {
  background: #00b0ba;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  padding: 5px 5px;
  margin: 5px;
  padding-left: 15px;
}

@media (max-width: 992px) {
  nav {
    flex-direction: column;
  }

  .toolbox {
    display: block;
    text-align: center;
  }

  .toolbox > div {
    margin: 10px 0;
  }

  .speed {
    display: none;
  }
}
